.App {
  text-align: center;
}

.headerpic {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgimg {
  filter: blur(2px);
}

h1 {
  outline-color: gray;
}